.Carousel {
    margin-top: 20px;
    /* border: 3px solid lightcoral; */
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}

.carousel-list {
    /* border: 3px solid rgb(154, 240, 128); */
    /* height: 400px;
    width: 400px; */
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.carousel-list::-webkit-scrollbar {
    background: transparent;
    height: 15px;
}

.carousel-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #1f8395, #185068, #a745b4);
    border-radius: 10px;
}


.Carousel-Item {
    /* border:rgba(226, 10, 10, 0.555) 1px solid; */
    width: 300px;
    height: 300px;
    margin-right: 30px;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    transition: all 500ms ease;
}

.Carousel-Item:hover {
    transform: translateY(-10px);
}

.detail-container {
    display: flex;
    /* z-index: 1; */
    /* border: 2px solid black; */
    width: 100%;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color: rgba(129, 129, 129, 0.555);
    padding: 10px;
    overflow: hidden;
}

.item-details {
    /* border: 2px solid blueviolet; */
    text-align: left;
    flex-grow: 2;
}

.artist {
    color: aquamarine;
}

.item-price {
    flex-grow: 1;
}

.play-icon {
    font-size: 30px;
    flex-grow: 1;
    transition: all 300ms ease;
    /* border: 1px solid white; */
}

.play-icon:hover {
    color: #07f8a8d2;
    cursor: pointer;
}

/* mobile response  */



@media (max-width: 2000px) {

    .Carousel {
        width: 1000px;
    }

    .Carousel-Item {
        height: 250px;
        width: 250px;
    }

    .detail-container {
        height: 50px;
        width: 100%;
    }

    .play-icon {
        height: 15px;
    }

    .artist {
        font-size: 15px;
    }

    .item-price {
        font-size: 10px;
    }

    .carousel-list {
        font-size: 10px;
    }
}

@media only screen and (max-width: 2000px) and (max-height: 800px) {
    .Carousel {
        /* border: #a745b4 2px solid; */
        width: 900px;
        margin-top: 0;
    }

    .Carousel-Item {
        height: 150px;
        width: 150px;
    }

    .item-details, .artist {
        font-size: 0.7rem;
    }

    .Navbar {
        margin: 25px 0px;
    }
    .player {
        top: 70px;
        height: 300px;
        width: 400px;
    }

    .player-container{
        height: 250px;
        width: 350px;
    }
}

@media (max-width: 900px) {

    .Carousel {
        width: 500px;
    }

    .Carousel-Item {
        height: 150px;
        width: 150px;
    }

    .detail-container {
        height: 50px;
        width: 100%;
    }

    .play-icon {
        height: 15px;
    }

    .artist {
        font-size: 8px;
    }

    .item-price {
        font-size: 10px;
    }

    .carousel-list {
        font-size: 10px;
    }
}

@media (max-width: 610px) {

    .Carousel {
        width: 300px;
    }

    .Carousel-Item {
        height: 150px;
        width: 150px;
    }

    .detail-container {
        height: 50px;
        width: 100%;
    }

    .play-icon {
        height: 15px;
    }

    .artist {
        font-size: 12px;
    }

    .item-price {
        font-size: 10px;
    }

    .carousel-list {
        font-size: 10px;
    }
}


