/* Dropdown Button */
.dropbtn {
    width: 100px;
    height: 60px;
    background-color: rgba(127, 255, 212, 0.578);
    color: white;
    padding: 7px;
    font-size: 16px;
    border: black solid 1px;
    /* border: blue solid 2px; */
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 300ms;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* border-bottom: #2980B9 1px solid; */
    /* border-radius: 10px; */

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {
    background-color: #ddd; 
    border-radius: 10px;
    overflow: hidden;
    
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* mobile response */
  @media (max-width: 500px){
    .dropbtn{
      
      width: 50px;
      height: 40px;
    }
    .dropdown-content {
   
    min-width: 60px;
  }
  .dropdown-content p {
    color: black;
    padding: 10px 7px;
    font-size: 13px;
   
  }
  }